
# Dart/Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
# If you're building an application, you may want to check-in your pubspec.lock
#pubspec.lock

# macOS Files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Visual Studio Code
.vscode/
*.code-workspace

# Visual Studio Code - Workspace Settings
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

# Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.userprefs
*.pdb
*.vsp
*.vspx
*.builds
*.pidb
*.svclog
*.scc

# TFS 2012 Local Workspace
$tf/

